/*------------------------------------------------------------------
1. #66ab36
-------------------------------------------------------------------*/
a {
  color: #66ab36;
}
#title-breadcrumb-breadcrumb{
  background-color: #66ab36;
}
.widget.widget_rss ul li a:hover,
.widget.widget_pages ul li a:hover,
.widget.widget_nav_menu ul li a:hover,
.widget.widget_login ul li a:hover,
.widget.widget_meta ul li a:hover,
.widget.widget_categories ul li a:hover,
.widget.widget_archive ul li a:hover,
.widget.widget_recent_comments ul li a:hover,
.widget.widget_recent_entries ul li a:hover{
  color: #66ab36;
}
.title-wrap:before{
  background-color: #66ab36;
}
.ribbon .ribbon-content:before{
   border-top-color: #66ab36;
}
.tagcloud a:hover,
.tags a:hover{
	background-color: #66ab36;
	border-color: #66ab36;	
}
.footer-meta{
	background-color: #66ab36
}
.cart-icon .count{
	border-color: #66ab36;	
}
.hc-item.hc-delivery > a{
	background-color: #66ab36;
}
.btn-primary {
  background-color: #66ab36;
}
.lpd-product-item-category{
  background-color: #66ab36;
}
.wordpress-123garden .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
.wordpress-123garden .woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.wordpress-123garden.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a,
.wordpress-123garden.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a{
	border-color: #66ab36;
}
.menu3dmega > ul > li > a:hover{
	background-color: #66ab36;
}
.menu3dmega > ul > li.open > a,
.menu3dmega > ul > li.current-menu-item > a,
.menu3dmega > ul > li.current_page_item > a,
.menu3dmega > ul > li.current-page-ancestor > a,
.menu3dmega > ul > li.current-menu-parent > a,
.menu3dmega > ul > li.current_page_item > a,
.menu3dmega > ul > li.current_page_parent > a,
.menu3dmega > ul > li.current-menu-ancestor > a,
.menu3dmega > ul > li.current_page_ancestor > a{
    background-color: #66ab36;
}
.wordpress-123garden .woocommerce ul.cart_list li a:hover,
.wordpress-123garden .woocommerce ul.product_list_widget li a:hover,
.wordpress-123garden.woocommerce-page ul.cart_list li a:hover,
.wordpress-123garden.woocommerce-page ul.product_list_widget li a:hover{
    color: #66ab36;
}
.footer .woocommerce .widget_layered_nav ul li a:hover,
.woocommerce-page .footer .widget_layered_nav ul li a:hover,
.footer .woocommerce .widget_layered_nav ul li span:hover,
.woocommerce-page .footer .widget_layered_nav ul li span:hover{
	color: #66ab36;
}
.woocommerce .widget_layered_nav ul li.chosen a,
.woocommerce-page .widget_layered_nav ul li.chosen a{
    background-color: #66ab36;
}
.woocommerce .widget_layered_nav_filters ul li a,
.woocommerce-page .widget_layered_nav_filters ul li a{
    background-color: #66ab36;
}
.wordpress-123garden .footer .widget_product_categories ul li a:hover{
	color: #66ab36;
}
.lpd-product-data-table .added_to_cart:hover{
	color: #66ab36;
}
.wordpress-123garden .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav .ui-tabs-active a,
.wordpress-123garden .wpb_tabs .wpb_tabs_nav li.ui-tabs-active a{
	border-color: #66ab36;
}
.lpd-module .sep-border{
    background-color: #66ab36;
}
.mi-slider nav.icons-nav span{
    background-color: #66ab36;
}
.lpd-post-widget:hover .title a{
	color: #66ab36;
}
.lpd-post-widget .widget-meta:before{
    background-color: #66ab36;
}
.dropcap{
    background-color: #66ab36;
}
.deco-sep-line-50,
.deco-sep-line-100,
.deco-sep-line-150,
.deco-sep-line-200{
    background-color: #66ab36;
}
.lpd-icon-banner.lib-border-right:before{
    background-color: #66ab36;
}
.cc-product-item .cc-price{
	background-color: #66ab36;
}
.wordpress-123garden .widget_product_categories ul li a:hover{
	color: #66ab36;
}
.lpd-product-category-wrap .sep-border{
	background-color: #66ab36;
}
.ic-title{
	background-color: #66ab36;
}
.ic-icon{
	border-color: #66ab36;
}

/*------------------------------------------------------------------
2. #96ca42
-------------------------------------------------------------------*/

a:hover,
a:focus {
  color: #96ca42;
}
.ribbon {
   background-color: #96ca42;
}
.cart-icon .count{
	background-color: #96ca42;
}
.hc-item.hc-delivery > a:hover{
	background-color: #96ca42;
}
.hc-delivery-content-wrap{
	border-color: #96ca42 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active{
  background-color: #96ca42;
}
.menu3dmega > ul > li.open > a:hover,
.menu3dmega > ul > li.current-menu-item > a:hover,
.menu3dmega > ul > li.current_page_item > a:hover,
.menu3dmega > ul > li.current-page-ancestor > a:hover,
.menu3dmega > ul > li.current-menu-parent > a:hover,
.menu3dmega > ul > li.current_page_item > a:hover,
.menu3dmega > ul > li.current_page_parent > a:hover,
.menu3dmega > ul > li.current-menu-ancestor > a:hover,
.menu3dmega > ul > li.current_page_ancestor > a:hover{
  background-color: #96ca42;
}
.lpd-module:hover .sep-border{
    background-color: #96ca42;
}
.mi-slider nav.icons-nav a:hover span{
    background-color: #96ca42;
}
.lpd-post-widget .widget-meta{
    background-color: #96ca42;
}

/*------------------------------------------------------------------
3. #f0bc00
-------------------------------------------------------------------*/

.header-top{
	background-color: #f0bc00;
}
.btn-warning {
  background-color: #f0bc00;
}
.comment-post div.avatar{
	border-color: #f0bc00;
}
.footer.footer-dark-theme .widget.widget_rss ul li a:hover,
.footer.footer-dark-theme .widget.widget_pages ul li a:hover,
.footer.footer-dark-theme .widget.widget_nav_menu ul li a:hover,
.footer.footer-dark-theme .widget.widget_login ul li a:hover,
.footer.footer-dark-theme .widget.widget_meta ul li a:hover,
.footer.footer-dark-theme .widget.widget_categories ul li a:hover,
.footer.footer-dark-theme .widget.widget_archive ul li a:hover,
.footer.footer-dark-theme .widget.widget_recent_comments ul li a:hover,
.footer.footer-dark-theme .widget.widget_recent_entries ul li a:hover{
	color: #f0bc00;
}
.footer.footer-dark-theme .tagcloud a:hover,
.footer.footer-dark-theme .tags a:hover{
	background-color: #f0bc00;
	border-color: #f0bc00;
}
.wordpress-123garden .woocommerce .star-rating,
.wordpress-123garden.woocommerce-page .star-rating{
	color: #f0bc00;
}
.wordpress-123garden .woocommerce #reviews #comments ol.commentlist li img.avatar,
.wordpress-123garden.woocommerce-page #reviews #comments ol.commentlist li img.avatar{
	border-color: #f0bc00;
}
.wordpress-123garden .footer.footer-dark-theme .woocommerce ul.cart_list li a:hover,
.wordpress-123garden .footer.footer-dark-theme .woocommerce ul.product_list_widget li a:hover,
.wordpress-123garden.woocommerce-page .footer.footer-dark-theme ul.cart_list li a:hover,
.wordpress-123garden.woocommerce-page .footer.footer-dark-theme ul.product_list_widget li a:hover{
	color: #f0bc00;
}
.footer.footer-dark-theme .woocommerce .widget_layered_nav ul li a:hover,
.woocommerce-page .footer.footer-dark-theme .widget_layered_nav ul li a:hover,
.footer.footer-dark-theme .woocommerce .widget_layered_nav ul li span:hover,
.woocommerce-page .footer.footer-dark-theme .widget_layered_nav ul li span:hover{
	color: #f0bc00;
}
.footer-dark-theme .woocommerce .widget_layered_nav ul li.chosen a,
.woocommerce-page .footer-dark-theme .widget_layered_nav ul li.chosen a{
    background-color: #f0bc00;
}
.footer-dark-theme .woocommerce .widget_layered_nav_filters ul li a,
.woocommerce-page .footer-dark-theme .widget_layered_nav_filters ul li a{
    background-color: #f0bc00;
}
.wordpress-123garden .footer.footer-dark-theme .widget_product_categories ul li a:hover{
	color: #f0bc00;
}
.lpd-post-widget:hover .lpd-post-widget-element{
    background-color: #f0bc00;
}
.lpd-post-widget:hover .pw-thumbnail .post-type-icon{
    background-color: #f0bc00;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]{
    background-color: #f0bc00;
}
.dropcap2{
    background-color: #f0bc00;
}
.dark-background .deco-sep-line-50,
.dark-background .deco-sep-line-100,
.dark-background .deco-sep-line-150,
.dark-background .deco-sep-line-200{
    background-color: #f0bc00;
}
#shopping_cart_panel .lpd-cart-list-title a:hover{
	color: #f0bc00;
}

/*------------------------------------------------------------------
4. #f8c400
-------------------------------------------------------------------*/

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active{
  background-color: #f8c400;
}

#title-breadcrumb-breadcrumb a:hover{
	color: #f8c400;
}
#footer-bottom.footer-bottom-dark-theme a:hover{
	color: #f8c400;
}
.progress-bar{
	background-color: #f8c400; 
}
.pw-thumbnail .post-type-icon{
    background-color: #f8c400; 
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
    background-color: #f8c400;
}
.cc-product-item .cc-price{
	border-color: #f8c400; 
}

/*------------------------------------------------------------------
3. #f0bc00
-------------------------------------------------------------------*/
.wpml-switcher a,
.wpml-switcher .current-lang{
	color: #f0bc00 !important; 
}