/*------------------------------------------------------------------
1. Reset
-------------------------------------------------------------------*/
#menuMega .label,
#footer-meta .label{
	font-weight: 700;
}

/*------------------------------------------------------------------
5. Widget / .widget
-------------------------------------------------------------------*/
.tagcloud a,
.tags a{
	font-weight: 700;
}
/*------------------------------------------------------------------
9. Footer Bottom / #footer-bottom
-------------------------------------------------------------------*/
.footer-menu{
	font-weight: 700;
}
/*------------------------------------------------------------------
12. Shopping Cart / .lpd-shopping-cart
-------------------------------------------------------------------*/
.lpd-cart-total span{
	font-weight: 700;
}
.lpd-cart-list-title a{
	font-weight: 700;
}
/*------------------------------------------------------------------
14. Title-Breadcrumb / #title-breadcrumb
-------------------------------------------------------------------*/
#title-breadcrumb span{
	font-weight: 300;	
}
#title-breadcrumb h1{
	font-weight: 300;
}
/*------------------------------------------------------------------
19. Visual Composer/ .wpb_row
-------------------------------------------------------------------*/
.lpd-badge{
	font-weight: 700;
}
.mi-slider nav a {
	font-weight: 700;
}
.mh_description.mh-font-style{
	font-weight: 300;
}
.mh2_content.mh2-font-style{
	font-weight: 300;
}
.working-time ul li span{
    font-weight: 700;
}
.member-position{
	font-weight: 300;
}
.lpd-testimonial h5{
	font-weight: 700;
}

/*------------------------------------------------------------------
woocommerce.css
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
1. Loop /.lpd-products
-------------------------------------------------------------------*/
.lpd-onsale{
	font-weight: 400;
}
.lpd-out-of-s{
	font-weight: 400;
}

/*------------------------------------------------------------------
menu3d.css
-------------------------------------------------------------------*/
.menu3dmega .menuToggle{
    font-weight: 700;
}
.menu3dmega .menu-title{
    font-weight: 700;
}